[Unit]
Description=Dobrinya VPN Subscription Server v14
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{APP_DIR}}
ExecStart={{APP_DIR}}/venv/bin/python sub_server.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
